@import "custom-media";
@import "variables";


.box {
  @include padding(81px, 69px);
  background-color: $orange;

  @include media-1200() {
    @include padding(40px, 40px);
  }
  @include media-992() {
    @include padding(20px, 20px);
  }
}

.box .container {
  @include flex;
  width: 970px;

  @include media-1200() {
    width: 90%;
  }
  @include media-992() {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
    text-align: center;
  }
}

.box__container {
  width: 416px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-right: 10px;

  @include media-1200() {
    padding: 0;
  }
  @include media-992() {
    margin-bottom: 20px;
  }
  @include media-768() {
    width: auto;

  }
}

.box__text {
  font-size: 3.2rem;
  line-height: 1.4;
  color: $black;

  &:nth-child(1) {
    font-weight: bold;
  }

  @include media-1200() {
    font-size: 3rem;
  }
  @include media-768() {
    font-size: 2rem;
  }
}

.buttons {
  width: 416px;
  display: flex;
  gap: 16px;
  align-items: center;
  padding-left: 10px;

  @include media-1200() {
    padding: 0;
  }
  @include media-768() {
    flex-direction: column;
    width: auto;

  }
}

.buttons .btn {
  @include padding(8px, 8px);
  min-width: 200px;
  border: 1px solid $black;
  font-size: $txt-size;
  line-height: 1.34;
  color: $black;
  background-color: $orange;
}

.buttons .btn--black {
  color: white;
  background-color: #231F20;
}
