.box {
    padding-top: 81px;
    padding-bottom: 69px;
    background-color: #F7941E;


}

.box .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 970px;

}

.box__container {
    width: 416;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-right: 10px;
}

.box__text {
    font-size: 3.2rem;
    line-height: 1.4;
    color: #000000;
}

.box__text:nth-child(1) {
   font-weight: bold;
}

.buttons {
    width: 416px;
    display: flex;
    gap: 16px;
    align-items: center;
    padding-left: 10px;
}

.buttons .btn {
    padding-top: 8px;
    padding-bottom: 8px;
    min-width: 200px;
    border: 1px solid #000000;
    font-size: 1.8rem;
    line-height: 1.34;
    color: #000000;
    background-color: #F7941E;
}

.buttons .btn--black {
    color: white;
    background-color: #231F20;
}