@import "custom-media";

@font-face {
  font-family: Pacifico;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Pacifico-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-weight: 400;
  font-style: normal;
  src: url(../fonts/Roboto-Regular.woff) format("woff");
  font-display: swap;
}

@font-face {
  font-family: Roboto;
  font-weight: 700;
  font-style: normal;
  src: url(../fonts/Roboto-Bold.woff) format("woff");
  font-display: swap;
}

body, html {
  font-family: Roboto, sans-serif;
  font-size: 10px;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

.container {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;

  @include media-1200() {
    width: 90%;
  }
  @include media-992() {
    width: 95%;
  }
}
